{%  load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %} " type="image/x-icon" />
    <link rel="stylesheet" href="{%  static 'css/style.css'  %}" />
    <title>
        {% block extra_title %}
            Study Buddy
        {% endblock extra_title %}
    </title>
    {% block extra_head %}
        
    {% endblock extra_head %}    
</head>

  <body>
    {%  include 'navbar.html'  %}
    {% block body %}

    {% endblock body %}

    {% block extra_body %}

    {% endblock extra_body %}

    {%  if messages  %}
        <ul class="meassage">
            {%  for msg in  messages  %}
            <div id="snackbar" kk="msg_{{  msg.tags  }}" >{{msg}}
                <svg version="1.1" fill="currentColor" class="messages_from_django_clear_btn" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>remove</title>
                    <path
                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                    ></path>
                </svg>
            </div>
                <script>
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function(){
                        x.className = x.className.replace("show", "");
                    }, 10000);
                    let messages_from_django_clear_btn = document.querySelector(".messages_from_django_clear_btn");
                    messages_from_django_clear_btn.addEventListener("click", () => {
                        x.className = "";
                    });
                </script>
            {%  endfor  %}
        </ul>

    {%  endif  %}
    <script src="{%  static 'js/script.js'  %}"></script>
  </body>
</html>


