{%  load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %} " type="image/x-icon" />
    <link rel="stylesheet" href="{%  static 'css/style.css'  %}" />
    <title>
        {% block extra_title %}
            Study Buddy
        {% endblock extra_title %}
    </title>
    {% block extra_head %}
        
    {% endblock extra_head %}    
</head>

  <body>
    {%  include 'navbar.html'  %}
    {% block body %}

    {% endblock body %}

    {% block extra_body %}

    {% endblock extra_body %}

    {%  if messages  %}
        <ul class="meassage">
            {%  for msg in  messages  %}
                <li>{{  msg  }}</li>
            {%  endfor  %}
        </ul>

    {%  endif  %}
    <script src="{%  static 'js/script.js'  %}"></script>
  </body>
</html>


