{%  extends 'base.html'  %}
{% block extra_head %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>
{% endblock extra_head %}

{% block body %}
    <div class="home-container">
        <div>
            {%  include 'base/topics_component.html'  %}
        </div>
        <div>
            <div>
                <span>
                    {{  room_count  }} rooms available
                </span>
            </div>
            <a href="{%  url 'base:create-room'  %}"> Create Room </a>

            {%  include 'base/feed_component.html'  %}         
        </div>
        <div>
            {%  include 'base/activity_component.html'  %}
        </div>
    </div>

{% endblock body %}